{
	admin off
	servers {
		timeouts {
			read_header 5s
			read_body 2m
			idle 30s
		}
		max_header_size 32KB
	}
	log {
		output discard
	}
}

{$CAMPFIRE_DOMAIN} {
	log {
		output discard
	}

	request_body {
		max_size 9MB
	}

	reverse_proxy campfire:8000 {
		header_up X-Forwarded-For {remote_host}
		fail_duration 30s
		unhealthy_request_count 64
		transport http {
			dial_timeout 2s
			response_header_timeout 30s
		}
	}
}

{$CAMPFIRE_MEDIA_DOMAIN} {
	log {
		output discard
	}

	reverse_proxy livekit:7880 {
		fail_duration 30s
		transport http {
			dial_timeout 2s
			response_header_timeout 30s
		}
	}
}
